<section class="tab {{tabs.general.id}} {{tabs.general.cssClass}}" data-group="primary" data-tab="general">
    {{!-- Character-specific general tab with attributes, strengths, weaknesses, resources, languages, culturelore --}}
    <div class="list list-attributes">
        <div class="list-header">
            <h3>{{localize "splittermond.attributes"}}</h3>
            <div class="start">{{localize "splittermond.start"}}</div>
            <div class="value">{{localize "splittermond.value"}}</div>
            <div class="max">{{localize "splittermond.max"}}</div>
        </div>
        <ul class="list-body">
            {{#each attributes as |attribute attributeId|}}
                <li class="list-item attribute">
                    <label for="system.attributes.{{attributeId}}.value"
                           title="{{localize attribute.label.long}}">{{localize
                            attribute.label.long}}</label>
                    <div class="start">
                        <input name="system.attributes.{{attributeId}}.start" type="text" value="{{attribute.start}}"
                               data-dtype="Number">
                    </div>
                    <div class="value">
                        <input name="system.attributes.{{attributeId}}.value" type="text" value="{{attribute.value}}"
                               data-dtype="Number">
                    </div>
                    <div class="max">{{attribute.max}}</div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="list" data-item-type="strength">
        <div class="list-header">
            <h3>{{localize "splittermond.strengths"}}</h3>
            <div class="list-actions">
                <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="list-body item-list strengths">
            {{#each itemsByType.strength}}
                <li class="list-item item" data-item-id="{{this._id}}">
                    <div class="name">{{this.name}}
                        {{#if this.multiple}}
                            (x{{this.system.quantity}})
                        {{/if}}
                    </div>
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="button-inline" data-action="delete-item" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="list" data-item-type="weakness">
        <div class="list-header">
            <h3>{{localize "splittermond.weaknesses"}}</h3>
            <div class="list-actions">
                <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="list-body weaknesses">
            {{#each itemsByType.weakness}}
                <li class="list-item" data-item-id="{{this._id}}">
                    <input class="name" type="text" data-field="name" value="{{this.name}}">
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="button-inline" type="button" data-action="delete-item">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>

    </div>
    <div class="list" data-item-type="resource">
        <div class="list-header">
            <h3>{{localize "splittermond.resources"}}</h3>
            <div class="list-actions">
                <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="list-body list-resources">
            {{#each itemsByType.resource}}
                <li class="list-item" data-item-id="{{this._id}}">
                    <div><input class="name" type="text" data-field="name" value="{{this.name}}"></div>
                    <div class="value"><input type="text" data-field="system.value" value="{{this.system.value}}"
                                              data-dtype="Number"></div>
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button"><i class="fa fa-edit"
                                                                                               aria-hidden="true"></i>
                        </button>
                        <button class="button-inline" type="button" data-action="delete-item"><i
                                class="fas fa-trash" aria-hidden="true"></i></button>
                    </div>
                </li>

            {{/each}}
        </ul>

    </div>
    <div class="list" data-item-type="language">
        <div class="list-header">
            <h3>{{localize "splittermond.languages"}}</h3>
            <div class="list-actions">
                <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="list-body languages">
            {{#each itemsByType.language}}
                <li class="list-item" data-item-id="{{this._id}}">
                    <input class="name" type="text" data-field="name" value="{{this.name}}">
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="button-inline" type="button" data-action="delete-item">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="list" data-item-type="culturelore">
        <div class="list-header">
            <h3>{{localize "splittermond.culturelore"}}</h3>
            <div class="list-actions">
                <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <ul class="list-body culturelores">
            {{#each itemsByType.culturelore}}
                <li class="list-item item" data-item-id="{{this._id}}">
                    <input class="name" type="text" data-field="name" value="{{this.name}}">
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button class="button-inline" type="button" data-action="delete-item">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</section>
