<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="npc">
    <div class="filter column">
        <div class="row flex-gap"><i class="fas fa-search"></i><input type="text" placeholder="Suche" name="search">

            <input type="checkbox" value="true" name="show-world-items" id="show-world-items-npc" data-action="showWorldItemNpc"><label
                    for="show-world-items-npc">{{localize "splittermond.showWorldItems"}}</label>
        </div>
        <div class="row compendium-item-filters">
            <select name="npc-type" data-action="filterForNpcType">
                {{selectOptions npcFilter.types selected="none"}}
            </select>
        </div>
    </div>
    <div class="list">
        <ol class="list-body">
            {{#each items.npc}}
                <li class="list-item draggable" data-item-id="{{this.uuid}}" data-doc-type="Actor"
                    data-npc-type="{{this.system.type}}" data-npc-level="{{this.system.level}}">
                    <div class="item-portrait">
                        <img class="item-img" src="{{this.img}}" alt="{{this.name}}">
                    </div>
                    <div class="item-details">
                        <label>{{this.name}}</label>
                        <div class="available-in">
                            <ul class="taglist-small">
                                {{#each this.typeList}}
                                    <li class="active">{{this.label}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <div class="monster-level">
                        {{this.system.level}}
                    </div>
                    <div class="compendium">
                        {{#if this.compendium}}
                            <span class="label">{{this.compendium.metadata.label}}</span>
                            <span class="id">{{this.compendium.metadata.id}}</span>
                        {{else}}
                            <span class="label">{{this.collection.name}}</span>
                            <span class="id">world.{{this.collectionName}}</span>
                        {{/if}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</section>