{{!-- Character-specific header section --}}
<header class="row flex-gap">
    <div class="character-image">
        <img src="{{actor.img}}" data-action="editImage" data-edit="img" title="{{actor.name}}" height="92" width="92"
             class="profile-img"/>
    </div>
    <div class="column stretch">
        <input class="character-name" name="name" type="text" value="{{actor.name}}"
               placeholder="{{localize 'splittermond.name' }}"/>
        <div class="experience">
            <div class="bar">
                <div style="width: {{data.system.experience.percentage}}%"></div>
            </div>
            <div class="experience-label">
                {{localize "splittermond.heroLevel"}} {{data.system.experience.heroLevel}} -
                {{data.system.experience.heroLevelName}}
            </div>
            <div class="experience-value">
                <input class="autoexpand" name="system.experience.free" type="text"
                       value="{{data.system.experience.free}}" placeholder="{{localize 'splittermond.xpFree'}}"/> -
                <input class="autoexpand" name="system.experience.spent" type="text"
                       value="{{data.system.experience.spent}}" placeholder="{{localize 'splittermond.xpSpent'}}"/> -
                {{data.system.experience.nextLevelValue}}
            </div>
        </div>
        <div>
            <input class="autoexpand" name="system.species.value" type="text" value="{{data.system.species.value}}"
                   placeholder="{{localize 'splittermond.species'}}"/>
            &nbsp;&middot;&nbsp;
            <input class="autoexpand" name="system.sex" type="text" value="{{data.system.sex}}"
                   placeholder="{{localize 'splittermond.sex'}}"/>
            &nbsp;&middot;&nbsp;
            <input class="autoexpand" name="system.culture" type="text" value="{{data.system.culture}}"
                   placeholder="{{localize 'splittermond.culture'}}"/>
            &nbsp;&middot;&nbsp;
            <input class="autoexpand" name="system.ancestry" type="text" value="{{data.system.ancestry}}"
                   placeholder="{{localize 'splittermond.ancestry'}}"/>
            &nbsp;&middot;&nbsp;
            <input class="autoexpand" name="system.education" type="text" value="{{data.system.education}}"
                   placeholder="{{localize 'splittermond.education'}}"/>
        </div>

    </div>
    <div class="moonsign">

        <div class="moonsign-splinterpoints" title="{{localize 'splittermond.splinterpoints'}}">
            <button class="button-inline" type="button" data-action="dec-value"
                    data-input-query="input[name='system.splinterpoints.value']">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <input type="text" name="system.splinterpoints.value" value="{{data.system.splinterpoints.value}}"
                   data-dtype="Number">
            <span> / {{data.system.splinterpoints.max}}</span>
            <button class="button-inline" type="button" data-action="inc-value"
                    data-input-query="input[name='system.splinterpoints.value']">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        {{#each itemsByType.moonsign}}
            <img class="moonsign-image" src="{{this.img}}" title="{{this.name}}" height="64" width="64"/>
            <label class="moonsign-label"><a data-action="edit-item"
                                             data-item-id="{{this._id}}">{{this.name}}</a></label>
        {{/each}}
        {{#unless itemsByType.moonsign}}
            <div class="moonsign-image"></div>
            <label class="moonsign-label"><a data-item-type="moonsign" data-action="add-item"
                                             class="moonsign-label">{{localize 'splittermond.moonsigns.add.title'}}</a></label>
        {{/unless}}
    </div>
</header>

