<div class="derived-attribute-list">
    {{#each derivedAttributes as |attribute attributeId|}}
    <div class="derived-attribute" id="{{attributeId}}">
        <label {{#if attributeId}}data-action="open-defense-dialog"
                data-defense-type="{{attributeId}}"{{/if}}>{{localize attribute.label.short}}
        {{#if ../editable}}
            <input class="value" name="derivedAttributes.{{attributeId}}" type="text" value="{{attribute.value}}"
                   data-dtype="Number">
        {{else}}
            <span class="value">{{attribute.value}}</span>
        {{/if}}
        </label>
    </div>
    {{/each}}
    <div class="damage-reduction">
        <label>{{localize "splittermond.damageReductionAbbrev"}}
        {{#if editable}}
            <input class="value" name="damageReduction" type="text" value="{{damageReduction}}" data-dtype="Number">
        {{else}}
            <span class="value">{{damageReduction}}</span>
        {{/if}}
        </label>
    </div>
</div>