{{!-- NPC-specific general tab with attributes and skills (value-based, not points) --}}
{{> "systems/splittermond/templates/sheets/actor/parts/attribute-input.hbs" attributes=actor.attributes}}
<div data-roll-type="skill">
    <div class="list skills">
        <div class="list-header">
            <h3>{{localize "splittermond.generalSkills"}}</h3>
            <div class="list-actions">
                <button class="button-inline" data-action="show-hide-skills" type="button">
                    {{#if hideSkills}}
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{else}}
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    {{/if}}
                </button>
            </div>
        </div>
        <ol class="list-body skill-list">
            {{#each generalSkills as |skill skillId|}}
                <li class="list-item draggable" data-skill="{{skillId}}">
                    <label>
                        <a class="rollable" data-action="roll-skill">
                            {{localize skill.label}}
                        </a>
                    </label>
                    <div class="value">
                        <input name="system.skills.{{skillId}}.value" type="text" value="{{skill.value}}"
                               data-dtype="Number">
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
    <div class="list skills">
        <div class="list-header">
            <h3>{{localize "splittermond.fightingSkills"}}</h3>
            <div class="list-actions">
                <button class="button-inline" data-action="show-hide-skills" type="button">
                    {{#if hideSkills}}
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{else}}
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    {{/if}}
                </button>
            </div>
        </div>
        <ol class="list-body skill-list">
            {{#each fightingSkills as |skill skillId|}}
                <li class="list-item" data-skill="{{skillId}}">
                    <label>
                        {{localize skill.label}}
                    </label>
                    <div class="points">
                        <input name="system.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
    <div class="list skills">
        <div class="list-header">
            <h3>{{localize "splittermond.magicSkills"}}</h3>
            <div class="list-actions">
                <button class="button-inline" data-action="show-hide-skills" type="button">
                    {{#if hideSkills}}
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    {{else}}
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    {{/if}}
                </button>
            </div>
        </div>
        <ol class="list-body skill-list">
            {{#each magicSkills as |skill skillId|}}
                <li class="list-item draggable" data-skill="{{skillId}}">
                    <label>
                        <a class="rollable" data-action="roll-skill">{{localize skill.label}}</a>
                    </label>
                    <div class="value"><input name="system.skills.{{skillId}}.value" type="text"
                                              value="{{skill.value}}" data-dtype="Number">
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</div>

<div>
    <div>
        {{> "systems/splittermond/templates/sheets/actor/parts/combat-actions.hbs"
                activeDefense=activeDefense attacks=attacks}}
    </div>
    {{> "systems/splittermond/templates/sheets/actor/parts/mastery-list.hbs"
            masteriesBySkill=masteriesBySkill generalSkills=generalSkills fightingSkills=fightingSkills
            magicSkills=magicSkills}}
</div>
