<section class="tab {{tabs.effects.id}} {{tabs.effects.cssClass}}" data-group="primary" data-tab="effects">
    <div class="effects-panel">
        <div class="effects-add">
            <input type="text" class="effect-modifier-input"
                   placeholder="{{localize 'splittermond.effectsPanel.inputPlaceholder'}}"/>
            <button class="effect-add-button" type="button" data-action="add-effect">
                <i class="fas fa-plus" aria-hidden="true"></i>
                {{localize "splittermond.effectsPanel.add"}}
            </button>
        </div>
        <div class="help-text">{{{modifierHelpText}}}</div>
        <div class="list effects-list-section">
            <div class="list-header">
                <h3>{{localize "splittermond.effects"}}</h3>
                <div class="list-actions">
                    <button class="button-inline" type="button" data-action="open-effect-dialog"
                            title="{{localize 'splittermond.activeEffect.createDialog'}}">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            {{#if effects.length}}
                <ol class="effects-list">
                    {{#each effects}}
                        <li class="effect-card{{#if this.disabled}} effect-disabled{{/if}} draggable"
                            data-effect-id="{{this.id}}">
                            <div class="effect-card-content">
                                <span class="effect-name">{{this.name}}</span>
                                {{#if this.disabled}}
                                    <span class="effect-disabled-badge">{{localize
                                            "splittermond.effectsPanel.disabled"}}</span>
                                {{/if}}
                            </div>
                            <div class="effect-card-actions">
                                <button class="button-inline" type="button" data-action="edit-effect"
                                        title="{{localize 'splittermond.activeEffect.edit'}}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button class="button-inline" type="button" data-action="toggle-effect"
                                        title="{{#if this.disabled}}{{localize 'splittermond.enable'}}{{else}}{{localize
                                                'splittermond.disable'}}{{/if}}">
                                    <i class="fa {{#if this.disabled}}fa-eye-slash{{else}}fa-eye{{/if}}"
                                       aria-hidden="true"></i>
                                </button>
                                <button class="button-inline" type="button" data-action="delete-effect">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{else}}
                <p class="effects-empty">{{localize "splittermond.effectsPanel.empty"}}</p>
            {{/if}}
        </div>
    </div>
</section>
