{{#if this}}
    <h3>{{localize "splittermond.degreeOfSuccessOptionsHeader"}}</h3>
    <div class="degree-of-success-description">
        {{#each this}}
            <div class="splittermond-inline-label-input">
                <input
                        id="{{id}}"
                        type="checkbox"
                        class="splittermond-chat-action inline-label-input"
                    {{#if checked}}checked{{/if}}
                    {{#if disabled}}disabled{{/if}}
                        data-action="{{action}}"
                        data-multiplicity="{{multiplicity}}"
                />
                <label class="inline-label" for="{{id}}">{{text}}</label>
            </div>
        {{/each}}
    </div>
{{/if}}

